<%= form_with(model: pqr_type, local: true) do |form| %>
  <% if pqr_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pqr_type.errors.count, "error") %> prohibited this pqr_type from being saved:</h2>

      <ul>
      <% pqr_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :pqr_type_name %>
  </div>

  <div class="field">
    <%= form.label :day %>
    <%= form.number_field :day, id: :pqr_type_day %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
