<p id="notice"><%= notice %></p>

<h1>Pqr Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Day</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pqr_type.each do |pqr_type| %>
      <tr>
        <td><%= pqr_type.name %></td>
        <td><%= pqr_type.day %></td>
        <td><%= link_to 'Show', pqr_type %></td>
        <td><%= link_to 'Edit', edit_pqr_type_path(pqr_type) %></td>
        <td><%= link_to 'Destroy', pqr_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pqr Type', new_pqr_type_path %>
