<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pqr_type.name %>
</p>

<p>
  <strong>Day:</strong>
  <%= @pqr_type.day %>
</p>

<%= link_to 'Edit', edit_pqr_type_path(@pqr_type) %> |
<%= link_to 'Back', pqr_types_path %>
