<%= form_with(model: pqr, local: true) do |form| %>
  <% if pqr.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pqr.errors.count, "error") %> prohibited this pqr from being saved:</h2>

      <ul>
      <% pqr.errors.full_messages.each do |message| %>
      
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
    <div class ="field">
  <%= form.label :"PQR type" %>
    <% @pqr_type.each do |pqr_type| %>
    <div class = "field">
        <%= check_box_tag "pqr[pqr_type_id]", pqr_type.id %> <%= pqr_type.name %>
    </div>
    <% end %>
  </div>
  <div class="field">
    <%= form.label :subject %>
    <%= form.text_field :subject, id: :pqr_subject %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :pqr_content %>
  </div>

  <div class="field">
             
     <%=label_tag "document","Adjunt document (Only *.pdf, *.xlsx, *.word *.jpg)"%>
     <%= form.file_field :myfile %>
             
     </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
