


<h1>Pqrs</h1>

<table>
  <thead>
    <tr>
    <th>PQR type</th>
      <th>Subject</th>
      <th>Content</th>
       <th>Created to</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pqrs.each do |pqr| %>
      <tr>
       <td><%= pqr.pqr_type.name %></td>
        <td><%= pqr.subject %></td>
        <td><%= pqr.content %></td>
         <td><%= pqr.user.email %></td>
        <td><%= link_to 'Show', pqr %></td>
        <td><%= link_to 'Edit', edit_pqr_path(pqr) %></td>
        <td><%= link_to 'Destroy', pqr, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pqr', new_pqr_path %>
