
<p>
  <strong>PQR_type:</strong>
  <%= @pqr.pqr_type.name %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @pqr.subject %>
</p>

<p>
  <strong>Content:</strong>
  <%= @pqr.content %>
</p>

<div class="field">
    <strong>Comments</strong>
    <%= render "comments/form" %>
    <ul>
        <% @pqr.comments.each do |comment| %>
        <li>
            <% comment.body%> -- <%comment.user.email%>
        </li>
        <% end %>
    </ul>
</div>

<%= link_to 'Edit', edit_pqr_path(@pqr) %> |
<%= link_to 'Back', pqrs_path %>
