 * {
   box-sizing: border-box; 
   
  }
  html, body {
      font-family: 'Ubuntu', sans-serif;
  }
  body {
    margin: 0;
    background: #EFF1F3;
    
  }
  #main {
    display: flex;
    min-height: calc(100vh - 20vh);
  }
  #main > article {
    flex: 1;
  }
  #main > nav, 
  #main > aside {
    flex: 0 0 20vw;
    background: #D1C8CE;
  }
  #main > nav {
    order: -1;
  }
  header, footer, article, nav, aside, .content {
    padding: 1em;
  }
  header, footer {
    background: #223843;
    height: 10vh;
    color: white;
    
  }
  
  /*nav*/

nav {
  padding: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav li a {
  display: block;
  text-decoration: none;
  padding: .5em 1em;
}

nav li a:hover {
  background: #D77A61;
  color: white;
}
a.visited{
    color:inherit, 
}

