<!DOCTYPE html>
<html>
  <head>
    <title>PQRApp</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
  <header><h1> Welcome to ABC</h1> </header>
  <div id="main">
  
  <nav>
    <ul class="middle-xs">
     <li class="col-md">
         <h2> PQR Module </h2>
    </li>
     <li class="col-md"> 
        <%= link_to "Home", root_path %>
    </li> 
     <li class="col-md"> 
      <% if user_signed_in? %>
     Logged in as <strong><%= current_user.email %></strong>
    </li> 
     <li class="col-md">
     <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
     </li>
     <li>
     <%= link_to "New Pqr", new_pqr_path %>
     </li>
     <li class="col-md">
     <% else %>
     <%= link_to "Login", new_user_session_path %>
      <% end %>
     </li>
      
      </ul>
      </li>
     
  </ul>
  
  </nav>

    <div class = "content">
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert  %></p>
    <div>
    <%= yield %>
    </div>
    </div>
    
    </div>
  </body>
  <footer>All right reserved. Create to Gisselt Guarin</footer>
</html>
