<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
       <div class ="field">
  <%= f.label :"User type" %>
    <% @user_type.each do |user_type| %>
    <div class = "field">
        <%= check_box_tag "user[user_type_id]", user_type.id %> <%= user_type.name %>
    </div>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>
      <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
  </div>
      <div class="field">
    <%= f.label :identification %><br />
    <%= f.text_field :identification, autofocus: true %>
  </div>
      <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, autofocus: true %>
  </div>
      <div class="field">
    <%= f.label :date_of_birth %><br />
    <%= f.date_select :date_of_birth %>
  </div>
      <div class="field">
 <div><%= f.check_box :female, {}, true %> <%= f.label :is_female, "Female" %> </div>
    <div><%= f.check_box :female, {}, false %> <%= f.label :is_female, "Male" %> </div>
  </div>
  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  
  
   <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
  
<% end %>

<!--%= render "users/shared/links" %>-->
